/* App.css */

/* 1. Forzamos a que toda la página sea oscura */
html, body, main, #root {
  background-color: #121212; /* Fondo base negro/gris muy oscuro */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #FFF;
}

h2{
  background-color: #121212;
}

.App {
  background-color: #121212;
  min-height: 100vh;
  color: rgb(52, 52, 52);
}

/* 2. El contenedor de las canciones con el gris que pediste */
.content-body {
  background-color: #121212; /* Fondo general */
  padding: 24px;
}

.song-list-container {
  background-color: #121212; /* EL GRIS QUE QUIERES para el bloque de canciones */
  padding: 10px;
  margin-top: 20px;
}

/* 3. Título de 'Populares' para que no quede en blanco */
.section-title {
  background-color: #121212;
  margin-left: 10px;
}